
<div class="inicio">
    <div class="fondo"></div>
        <%= image_tag "palafito6.jpg", class: "img-responsive" %>
    </div>


    <div class="container">
        <div class="texto-animado1">
            <h2 class="titulo1">TRANSPORTE</h2><br> 
            <h2 class="titulo2">PARA EMPRESAS EN EL <br> ARCHIPIELAGO DE CHILOE</h2>
        </div>
        <div class="texto-animado2">
            <h2 class="titulo1">TURISMO</h2><br> 
            <h2 class="titulo2">PARA GRUPOS, CURSOS, DELEGACIONES <br> DENTRO Y FUERA DE LA REGION</h2>
        </div>
        <div class="texto-animado3">
            <h2 class="titulo1">titulo</h2><br> 
            <h2 class="titulo2">texto</h2>
        </div>
    </div>
      

  
</div>
