
<div class="inicio">
    <%= image_tag "palafito6.jpg", class: "img-responsive" %>
    <div class="tituloindex">
        <h1 > nombre empresa  </h1>
        <p> pequeña reseña </p>
    </div>
</div>
