<br>
<br>
<br>
<br>
<div class="container">
    <div class="infor">
        <h1 class="tituloinfo">Bienvenidos a Chiloé Transporte Familiar</h1>
        <br>
        <br>
        <h4 class="parrafo"> Somos una empresa familiar dedicada a conectar los tesoros naturales y culturales del hermoso <br> archipiélago  de Chiloé, 
            en el sur de Chile, con el mundo. Con raíces profundas en esta tierra de mitos <br> y  leyendas, hemos unido nuestras pasiones 
            por la hospitalidad y la exploración para brindar a  <br> nuestros clientes experiencias de viaje inolvidables. <br><br>
            
            Desde el inicio, hemos tenido la visión de compartir la belleza única de Chiloé con personas de todo <br> el mundo. 
            Nuestra flota de vehículos modernos y cómodos está lista para llevarlo a descubrir playas <br> vírgenes, bosques encantados,
            iglesias declaradas Patrimonio de la Humanidad por la UNESCO y la <br> cálida hospitalidad de las comunidades locales. <br><br>
            
            Pero no nos detenemos aquí. Además de servir a la maravillosa región de Chiloé, hemos ampliado <br> nuestros horizontes para llevarlo 
            a emocionantes destinos fuera de la isla. Desde aventuras en la <br> Patagonia hasta exploraciones en las ciudades más vibrantes de Chile, 
            estamos comprometidos a <br> hacer que su viaje sea inolvidable. <br><br>
            
            En Chiloé Transporte Familiar, no solo brindamos un medio de transporte, sino una experiencia de <br> viaje que celebra la riqueza de nuestra tierra
            y su gente. Únase a nosotros en un viaje que le <br>permitirá conectar con la naturaleza, la cultura y la historia,
            mientras crea recuerdos que durarán<br> toda la vida. <br><br>
            
            <p class="finalparrafo">Le damos la bienvenida a un viaje emocionante. <br><br>
            ¡Vamos juntos a explorar Chiloé y más allá! </p>
        </h4>
    </div>
        <br>
        <br>
        <br>


</div>